@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html
{
  font-family: 'Roboto', sans-serif;
  overflow: auto;
  font-size: 14px;
  color: #4d4e53;
  background-color: #F9F9F9;
}

table {
  font-size: 14px;
}

a {
  color: #0095dd;
}

ul {
  padding-left: 20px;
}

li {
  list-style: disc;
}

h1 {
  margin-bottom: 10px;
  font-size: 34px;
  font-weight: 300;
  border-bottom: solid 1px #ddd;
}

h2 {
  margin-top: 24px;
  margin-bottom: 10px;
  font-size: 24px;
  border-bottom: solid 1px #ddd;
  font-weight: 300;
}

h3 {
  font-size: 18px;
  margin-bottom: 12px;
  background-color: #E2E2E2;
  padding: 2px;
  font-weight: 300;
}

p {
  margin-bottom: 15px;
  line-height: 19px;
}

pre.prettyprint {
  padding: 4px;
  border: solid 1px #ddd;
  margin: 4px 0;
}

p > code {
  padding: 0 4px;
  background: #ddd;
}

.layout-container {
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: flex-start;*/
  /*align-items: stretch;*/
}

.navigation {
  position: fixed;
  width: 200px;
  height: 100%;
  padding: 15px;
  overflow-x: scroll;
  background: #eaeaea;
  float: left;
}

.navigation > nav {
  position: fixed;
}

.navigation h1 {
  border: none;
  font-size: 18px;
}

.navigation h2 {
  margin: 15px 0 4px;
  font-size: 16px;
  border: none;
}

.navigation ul {
  padding: 0;
}

.navigation li {
  list-style: none;
  margin: 4px 0;
}

h1 .version,
h1 .url a {
  font-size: 14px;
  color: #aaa;
}

.content {
  margin-left: 230px;
  padding: 10px 50px 10px 20px;
}

.name-space {
  color: #aaa;
}

table.summary {
  width: 100%;
  margin: 10px 0;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}

table.summary thead {
  background: #999;
  color: white;
}

table.summary td {
  border: solid 1px #ddd;
  padding: 4px 10px;
}

table.summary td > div:nth-of-type(2) {
  padding-top: 4px;
  padding-left: 15px;
}

table.summary td p {
  margin-bottom: 0;
}

.member, .method {
  margin-bottom: 24px;
}

table.params {
  width: 100%;
  margin: 10px 0;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}

table.params thead {
  background: #eee;
  color: #aaa;
}

table.params td {
  padding: 4px;
  border: solid 1px #ddd;
}

table.params td p {
  margin: 0;
}

.return-param * {
  display: inline;
}

.argument-params {
  margin-bottom: 20px;
}

.return-type {
  font-weight: normal;
}

.return-desc {
  margin-left: 10px;
  margin-top: 4px;
}

footer {
  text-align: right;
  font-style: italic;
  font-weight: 100;
  font-size: 13px;
  margin-right: 50px;
  margin-left: 250px;
  border-top: 1px solid #ddd;
  padding-top: 30px;
  margin-top: 20px;
  padding-bottom: 10px;
}
